
<section class="all-bills">
    <div>
            <tbody>
                <tr>
                    <td>{{name}}</td>
                    <td>${{amount}}</td>
                    <td>Due: {{dueDate}}</td>
                </tr>
            </tbody>
    </div>
</section>
