
<section class="all-bills">
    <div>
            <tbody>
                <tr>
                    <td>{{name}}</td>
                    <td>${{amount}}</td>
                    <td>Due: {{dueDate}}</td>
                    <td><i class="bi bi-trash-fill delete-button" data-id="{{id}}"></i></td>
                </tr>
            </tbody>
    </div>
</section>

