<div class="card" style="width: 30rem;" id="category-sum">
    <div class="card-header" id="category-tiles">
        <span>{{category_name}} </span> 
        <span>${{total_amount}}</span>
    </div>
</div>