<div>
    <table class="table">
        <h4 id="category-name">{{category_name}}</h4>
        <thead>
            <tr>
                <th scope="col">Bill</th>
                <th scope="col">Amount</th>
                <th scope="col">Due Date</th>
            </tr>
        </thead>
        {{#each bills}}
        <div>
            <tbody>
                <tr>
                    <td>{{name}}</td>
                    <td>${{amount}}</td>
                    <td>Due: {{due_date}}</td>
                </tr>
            </tbody>
        </div>
        {{/each}}

    </table>
</div>

