<div class="card" style="width: 30rem;">
    {{#if bills}}
    <div class="card-header">
    <strong>{{category_name}}</strong>
    </div>
    <ul class="list-group list-group-flush">
        {{#each bills}}
        <li class="list-group-item" id="bill">

            <span>{{name}}</span> <span>${{amount}}</span> <span>Due: {{due_date}}</span>
        </li>
        {{/each}}
    </ul>
    {{/if}}
</div>
