<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill Manager</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"> 

</head>

<body>
    <header>
        <img id="logo" src="/images/Logo.png" alt="plus, minus, multiplicationm and division signs in a square with the text Bill Ease to the right of it"/>
    </header>
    <nav class="nav fixed-top">
        <ul id="nav-list">
            <li>
                <a href="/dashboard"><i class="bi bi-bar-chart-fill"></i>  Dashboard</a>
            </li>
            <li>
                <a href="/bills"><i class="bi bi-currency-dollar"></i>  Bills</a>
            </li>
            <li>
                <a href="/categories"><i class="bi bi-diagram-3-fill"></i>  Categories</a>
            </li>
            <li>
                {{#if logged_in}}
                <button id="logout" action="/users/logout" method="POST"> <i class="bi bi-person-fill"></i> Logout</button>
                {{/if}}
            </li>
        </ul>


    </nav>

    <main>
        {{{body}}}
    </main>
</body>


    <script src="/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {{#if logged_in}}
    <script src="./js/logout.js"></script>
    {{/if}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
<script>
   $(function () {
        $('nav a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
    });
</script>