<section id="categories" class="row">
    <canvas id="myChart" class="col-lg-6 col-md-12"></canvas>

    <section id="category-card" class="col-lg-6 col-md-12">
        <h2>Categories</h2>
        {{#each categoryTotals as |category|}}
        {{> category-sum}}
        {{/each}}
    </section>
</section>

<div id="line-break"></div>

<section id="bills">
    <section id="bill-card">
        <h2>Upcoming Bills</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Bill</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Due Date</th>
                </tr>
            </thead>
            {{#each bills as |bill|}}
            {{> bill-details}}
            {{/each}}
        </table>
        
    </section>
</section>

<input type="hidden" id="thingIWant" value={{categoryNames}} />


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('myChart');
    var categoryNames = document.getElementById("thingIWant").value;

    console.log(categoryNames.split(','));

    new Chart(ctx, {
        type: 'doughnut',
        data: {
            datasets: [{
                data: [{{ totalAmounts }}],
            borderWidth: 1
        }],
        labels: categoryNames.split(','),
            {{!-- labels: ['Home', 'Car', 'Insurance'], --}}
        },
        options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
    });
</script>