{{!-- New Bill Form --}}
<div = "newBill">
    <form action="/addNewBill" method="POST">
        {{!-- Prompts user to enter the name of the bill --}} 
        <label for="billName">What bill would you like to add?</label>
        <select id = "billNameId" required>
            <option value="homeVal" id="homeType">Home </option>
            <option value="insuranceVal" id="insuranceType">Insurance </option>
            <option value="personalVal" id="personalType">Personal </option>
            <option value="educationVal" id="educationType ">Education </option>
            <option value="councilVal" id="councilType">Council </option>
        </select>
        {{!-- Prompts user to enter the type of bill --}}
        <label for="billType"> Select type of bill </label>
        <select id ="billTypeId" required></select>

        {{!-- Prompts user to enter bill amount --}}
        <label for="billAmount">How much is the bill?</label>
        <input type = "number" id = "billAmountId" required>
        {{!-- Prompts user to enter bill due-date --}}
        <label for = "billDue">What is the due-date for this bill?</label>
        <input type = "date" id = "billDueId" required>
        {{!-- Saves the added bill --}}
        <button id = "saveBtn">Save bill</button>
    </form>
<script src="../public/js/newBill.js"></script>
</div>