{{!-- New Bill Form --}}
<div = "newBill">
    <form action="/addNewBill" method="POST">
        {{!-- Prompts user to enter the name of the bill --}} 
        <label for="billName">What bill would you like to add?</label>
        <select id = "billTypeId" required>
            <option value="homeVal" id="homeType">Home </option>
            <option value="insuranceVal" id="insuranceType">Insurance </option>
            <option value="personalVal" id="personalType">Personal </option>
            <option value="educationVal" id="educationType ">Education </option>
            <option value="councilVal" id="councilType">Council </option>
        </select>
        {{!-- Prompts user to enter the type of bill --}}
        <label for="billType"> Select type of bill </label>
        <select id ="billTypeId" required>

            <option value="electricity" id="homeId">Electricity</option>
            <option value="gas" id="homeId">Gas</option>
            <option value="water" id="homeId">Water</option>
            <option value="internet" id="homeId">Internet</option>
            <option value="healthInsurance" id="insuranceId">Health Insurance</option>
            <option value="homeInsurance" id="insuranceId">Home Insurance</option>
            <option value="carInsurance" id="insuranceId">Car Insurance</option>
            <option value="carRego" id="personalId">Car Registration</option>
            <option value="phone" id="personalId">Phone bill</option>
            <option value="schoolFee" id="educationId">School Fee</option>
            <option value="councilRates" id="councilId">Council Rates</option>
            <option value="dogRego" id="councilId">Dog Registration </option>
        
        </select>

            

        {{!-- Prompts user to enter bill amount --}}
        <label for="billAmount">How much is the bill?</label>
        <input type = "billAmountTxt" id = "billAmountId" required>
        {{!-- Prompts user to enter bill due-date --}}
        <label for = "billDue">What is the due-date for this bill?</label>
        <input type = "billDueTxt" id = "billDueId" required>
        
    </form>
<script src="../public/js/newBill.js"></script>
</div>